<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>
Employees are:<br /><br /><br />

Name       -                 Age <br /><br /><br />
<% @company.employees.each do |employee|%>
<%= employee.name%> : <%= employee.age%><br /><br /><br />
<% end %> 

<br />
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
